<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-4 offset-4">
  <div class="form-group">
    <label for="login">Login:</label>
    <input type="text" class="form-control" id="login" formControlName="login"
        [ngClass]="{'is-invalid':loginForm.get('login').touched && !loginForm.get('login').valid}">
    <div class="invalid-feedback">
          Enter login!
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" formControlName="password"
          [ngClass]="{'is-invalid':loginForm.get('password').touched && !loginForm.get('password').valid}">
    <div class="invalid-feedback">
      Enter password!
    </div>
  </div>
  <div>
    <div class="alert alert-danger w-100" *ngIf="loginErrors" role="alert">
      {{loginErrors}}
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
      <span *ngIf="isLoginProcessActive" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="!isLoginProcessActive">Login</span>
    </button>
  </div>
</form>
